<div class="panel panel-default" >
    <div class="panel-heading">Villa details
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3">Name:
            </div>

            <div class="col-sm-3">
                <input type="text" id="name" ng-model="villa.name" class="form-control"/>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-3">
             villa number :
            </div>
            <div class="col-sm-3">
                <input type="text" id="villaNumber" ng-model="villa.number" class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Email :
            </div>
            <div class="col-sm-3">
                <input type="text" id="email" ng-model="villa.email" class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Phone number :
            </div>
            <div class="col-sm-3">
                <input type="text" id="phoneNumber" ng-model="villa.phoneNumber" class="form-control"/>
            </div>
        </div>

    </div>
</div>

<div class="row"><div class="col-lg-1">
    <button ng-click="addVilla();" class="btn btn-primary">Save
    </button></div><div class="col-lg-1">
    <button onclick="window.location.href='#/list';" class="btn btn-primary">Cancel
    </button></div>
</div>